<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>简易租房信息网站</title>
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script src="/static/js/util.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
	<div class="container">
		<a href="/signOut" class="navbar-brand navbar-right">登出</a>
		<a href="#"class="navbar-brand navbar-right">欢迎，<span id="user_email"></span>！|</a>
	</div>
</nav>
<div class="container">
	<div class="row" >
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h1>欢迎使用简易租房信息网站！</h1>
			<br/>
			<ul id="myTab" class="nav nav-tabs">
			<li class="active" style="width:50%"><a href="#update" data-toggle="tab">已添加信息</a></li>
			<li style="width:50%"><a href="#add" data-toggle="tab">添加新房</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="update">
					<table class="table" id="list_realty">
					</table>
				</div>
			   <div class="tab-pane fade" id="add">
			   <h3>请填写以下所有信息</h3>
			   <form name="addOne" method="post" action="/addHouse">
					<br/>
					城市：<input type="text" name="city" required="required"><br/><br/>
					街道：<input type="text" name="street" required="required"><br/><br/>
					每月房租：<input type="number" name="rent" min="1" max="100000" required="required"><br/><br/>
					卧室数：<input type="number" name="bedroom" min="1" max="10" required="required"><br/><br/>
					浴室数：<input type="number" name="bathroom" min="1"  max="10" required="required"><br/><br/>
					所在楼层：<input type="number" name="house_floor" min="1"  max="1000" required="required"><br/><br/>
					面积：<input type="number" name="house_size" min="1"  max="10000" required="required"><br/><br/>
					<input type="submit" value="添加">
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
<script>
	var arr,reg=new RegExp("(^| )user_email=([^;]*)(;|$)");
	arr=document.cookie.match(reg);
	var quote=new RegExp("\"","g")
	document.getElementById("user_email").innerHTML = unescape(arr[2].replace(quote,""));

	//function list_houses(){
		//alert("here");
		$.get("/list", {},
			function(data){
				//alert("Data Loaded: " + data);
				init_table();
				draw_table(data);
			});
	//}

	function init_table(){
		document.getElementById("list_realty").innerHTML="<thead><tr><th>编号</th><th>城市</th><th>街道</th><th>每月房租</th><th>卧室数</th><th>浴室数</th><th>所在楼层</th><th>面积</th><th>可租性</th><th>操作</th></tr></thead><tbody></tbody>";
	}

	function draw_table(data){
		var temp = JSON.parse(data);
		for(var i=0;i<temp.length;i++){
			var info = temp[i];
			var tbl = document.getElementById("list_realty");
			var obj = tbl.insertRow(tbl.rows.length);
			obj.insertCell().innerHTML = i+1;
			obj.insertCell().innerHTML = info.env_city;
			obj.insertCell().innerHTML = info.env_street;
			obj.insertCell().innerHTML = info.rent;
			obj.insertCell().innerHTML = info.bedroom;
			obj.insertCell().innerHTML = info.bathroom;
			obj.insertCell().innerHTML = info.house_floor;
			obj.insertCell().innerHTML = info.house_size;
			obj.insertCell().innerHTML = info.availability;
			var add_fav = "<a href=\"#\" onclick=\"change_avail("+info.houseid+","+info.availability+")\">更改可租性</a>";
			obj.insertCell().innerHTML = add_fav;
		}
    }

	function change_avail(house, availability){
		$.post("/changeAvail", {"house_id":house, "avail":(1-parseInt(availability))},
			function(res){
				//alert(res + 0)
				if(res=='success'){
					alert("更改成功");
					window.location.reload();
				}
				else
					alert('something happens');
			});
	}
</script>
</body>
</html>
