<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>简易租房信息网站</title>
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row" >
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h1>欢迎，<span name="user_email">XXX</span>！</h1><br/>
			<h3>设置条件进行搜索，或查看<a href="#">我的收藏</a></h3>
			<form name="search" method="post" action="">
			<br/>
				<input type="text" name="city" placeholder="城市">&nbsp;
				<input type="text" name="min_rent" placeholder="月租金最小值">&nbsp;
				<input type="text" name="max_rent" placeholder="月租金最大值">&nbsp;
				卧室：
				<select name="bedroom">
					<option>#</option>
					<option>1</option>
					<option>2</option>
					<option>3+</option>
				</select>&nbsp;
				浴室：
				<select name="bathroom">
					<option>#</option>
					<option>1</option>
					<option>2</option>
					<option>3+</option>
				</select><br/><br/>
				<input type="submit" value="搜索"> 
			</form>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
</body>